{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shop list</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' >
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container">
      <a class='navbar-brand' href='{% url "gourmet_guide:index" %}'>おすすめご飯やさん&trade;</a>
    </div>
  </nav>
  <div class="container">
  {% block content %}

  {% endblock %}
  </div>
</body>
</html>